.about-us {
  background: #495f41;
  color: white;
  h4 {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    transform: rotate(90deg) translate(-50%, 250%);
    font-weight: normal;
    bottom: 100px;
    left: 50px;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
    -webkit-user-select: none;
  }
}

.page-wrapper {
  padding: 14vh 10%;
  height: 80vh;
  .content-wrapper {
    width: 100%;
    display: flex;
    height: max-content;
    flex-wrap: wrap;
    justify-content:center;
  }
}

.user-card {
  display: grid;
  width: min-content;
  padding: 0 50px;

  .image {
    width: 90%;
    margin: auto;
    position: relative;
    cursor: pointer;
    .icon {
      width: 100%;
      height: 100%;
      border-radius: 35px;
    }
    .icon-overlay {
      position: absolute;
      transition: .4s ease;
      background-color: black;
      opacity: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 34.5px;
      width: 100%;
      height: 98.5%;
      img {
        -webkit-user-select: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
    }
    &:hover .icon-overlay {
      opacity: 0.6;
      img {
        opacity: 1;
      }
    }
  }
  .data-wrapper {
    margin-top: 20px;
    width: min-content;
    .cell {
      display: grid;
      text-align: center;
      h1 {
        font-size: 400%;
        height: min-content;
      }
      h3 {
        font-size: 175%;
        height: min-content;
        font-weight: normal;
        text-transform: uppercase;
      }
    }
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    &::before {
      content: "{";
      color: #9aca3c;
      font-family: "Montserrat", sans-serif;
      font-size: 700%;
      padding-right: 5px;
    }
    &::after {
      content: "}";
        color: #9aca3c;
        font-family: "Montserrat", sans-serif;
        font-size: 700%;
        padding-left: 5px;
        
    }
  }
}
