.about-game {
    background: #495f41;;
    color: white;
  
    h1 {
      font-family: "Montserrat", sans-serif;
      color: white;
      font-size: 70px;
      text-align: center;
    }

    p {
      font-size: 28px;
      text-align: center;
      margin: auto;
    }

    h4 {
      position: absolute;
      font-family: "Montserrat", sans-serif;
      transform: rotate(90deg) translate(-50%, 250%);
      font-weight: normal;
      bottom: 100px;
      left: 50px;
      font-size: 24px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 10px;
      -webkit-user-select: none;
    }
  }
  
  .page-wrapper {
    padding: 8% 15%;

    .project {
      & > p {
        padding-top: 2%;
        width: 66%;
      }
    }
  
    .creators {
      padding-top: 20%;
      padding-bottom: 6%;
      & > h1 {
        font-size: 70px;
        text-align: center;
      }

      & > p {
        font-size: 28px;
        text-align: center;
        margin: auto;
        width: 55%;  
      }

      & > .wrapper {
        display: flex;
        padding: 5% 14%;

        .sm {
          margin: auto;

          h2 {
            white-space: nowrap;
            color: #9aca3c;
            font-size: 34px;
            font-style: italic;
            text-transform: uppercase;
            padding-bottom: 2%;
          }

          td {
            display: flex;
            h3 {
              color: #9aca3c;
              -moz-user-select: none;
              font-size: 55px;
              width: fit-content;
            }
            h1 {
              color: white;
              text-transform: lowercase;
              width: fit-content;
              font-size: 55px;
              width: fit-content;
              &:hover {
                transition: 0.15s;
                color: rgb(219, 208, 208);
              }
            }
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 1500px) {
    .about-game {
      h4 {
        font-size: 16px;
        left: 10px;
        bottom: 30px;
      }
    }
    .creators > .wrapper {
      flex-wrap: wrap; 
      & > .sm {
        padding-bottom: 5%;
        width: max-content;
      }
    }

  }

  // @media only screen and (max-width: 1330px) {
  //   .about-game {
  //     h4 {
  //       font-size: 16px;
  //       left: 10px;
  //       bottom: 30px;
  //     }
  //   }
  //   .page-wrapper {
      
  //     .creators > .wrapper {
  //       flex-wrap: wrap; 
  //       & > .sm {
  //         padding-bottom: 5%;
  //         width: max-content;
  //       }
  //     }
  //   }
  // }
  
  // @media only screen and (max-width: 624px) {
  //   .about-game {
  //     h4 {
  //       font-size: 12px;
  //       letter-spacing: 5px;
  
  //       left: 20px;
  //       bottom: 30px;
  //     }
  //   }
  //   .page-wrapper {
      
  //     }
      
  // }