.about-game {
  font-size: 12px;
  background: white;
  overflow-x: hidden;
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }

  h1 {
    font-family: "Montserrat", sans-serif;
    color: #9aca3c;
    text-align: center;
  }

  .actors {
    justify-content: center;
    h5 {
      color: #686767;
      font-size: 2em;
      padding: 0 2%;
      height: fit-content;
      margin: auto;
      user-select: none;
    }
    h3 {
      color: #9aca3c;
      font-size: 2.5rem;
      width: fit-content;
      &::before {
        content: "*";
        color: #686767;
      }
      & p {
        visibility: hidden;
        pointer-events: none;
        color: #ffffff;
        background-color: rgb(0, 0, 0);
        border-radius: 0.6em;
        padding: 5px 1%;

        font-size: 10%;
        width: 100%;
        font-weight: normal;
        text-align: center;

        font-size: 50%;
        width: max-content;
        max-width: 70%;

        bottom: 2%;
        left: 50%;
        transform: translate(-50%);

        position: absolute;
        z-index: 1;
      }
      &:hover p {
        visibility: visible;
      }
      &:hover {
        transition: 0.3s;
        color: #bce26f;
      }
    }
  }
}

.instructions {
  width: 100%;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 4%;

  .stages {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1em, 30em));
    padding-top: 2%;
    justify-content: center;
    gap: 20px;
    h1 {
      font-size: 6em;
    }

    p {
      font-size: 2em;
    }
  }

  .roles {
    margin: 50px 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(10em, 50em));
    p {
      font-size: 2em;
    }
    h1 {
      margin: 1em 0;
      font-size: 4em;
    }
  }

  .actors {
    align-items: center;
    max-width: 600px;
    margin: auto;
    width: 75%;
    display: flex;
  }
  svg {
    padding-bottom: 1em;
    margin: auto;
    width: 80px;
  }
  h1 {
    color: #9aca3c;
    font-size: 4em;
    margin: auto;
  }
  p {
    color: #686767;
    margin: auto;
    font-size: 135%;
    width: 80%;
  }
}

.project {
  padding-top: 8%;
  h1 {
    font-size: 4em;
  }
  p {
    width: 65%;
    margin: auto;
    text-align: center;
    font-size: 2em;
    color: #686767;
  }
}

.creators {
  padding-top: 3%;
  & > h1 {
    text-align: center;
    font-size: 4em;
  }

  & > p {
    margin: auto;
    width: 50%;
    font-size: 2em;
    text-align: center;
    color: #212121;
    font-weight: bold;
  }

  & > .wrapper {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    .sm {
      display: flex;
      flex-direction: column;
      padding: 2%;

      h2 {
        color: #9aca3c;
        font-style: italic;
        font-size: 4em;
      }

      h1 {
        color: black;
        font-size: 4em;
        text-transform: lowercase;
        width: fit-content;
        &::before {
          color: #9aca3c;
        }

        &:nth-child(odd)::before {
          content: "@";
        }

        &:nth-child(even)::before {
          content: "#";
        }

        &:hover {
          transition: 0.15s;
          color: rgb(219, 208, 208);
        }
      }
    }
  }
}

@media only screen and (max-width: 1220px) {
  .about-game {
    font-size: 10px;
  }
  .instructions {
    padding-bottom: 14%;
    .stages {
      padding-top: 2%;
      padding-bottom: 2%;
    }
    svg {
      width: 60px;
    }
  }

  .page-wrapper {
    .project {
      padding-top: 6%;
      padding-bottom: 5%;
      & > h1 {
        margin: auto;
        padding-bottom: 1%;
      }
      & > p {
        text-align: center;
        width: 70%;
        margin: auto;
      }
    }

    .creators {
      padding-bottom: 4%;
      & > h1 {
        text-align: center;
        margin: auto;
      }
      & > p {
        width: 60%;
        margin: auto;
        text-align: center;
        padding-bottom: 2%;
      }
      .wrapper {
        flex-wrap: wrap;
        padding-bottom: 3%;
        text-align: left;
        & > .sm {
          padding-bottom: 2%;
          width: max-content;
        }
      }
    }
  }
}

@media only screen and (max-width: 719px) {
  .instructions {
    p {
      padding-bottom: 4%;
    }
    .stages {
      width: 100%;
      padding-top: 8%;
      padding-bottom: 10%;
    }
    .actors {
      width: 100%;
      flex-direction: column;
      h3 {
        user-select: none;
        margin: auto;
      }
    }
    svg {
      width: 60px;
    }
    padding-bottom: 30%;
  }

  .project {
    & > h1 {
      margin: auto;
      width: min-content;
      padding-bottom: 4%;
    }
    & > p {
      margin: auto;
      text-align: center;
      width: 55%;
    }
  }

  .creators {
    text-align: center;
    padding-bottom: 8%;
    & > h1 {
      width: min-content;
      margin: auto;
    }
    & > p {
      font-style: italic;
      text-align: center;
      padding-top: 2%;
      padding-bottom: 10%;
      width: min-content;
    }
    .wrapper {
      flex-wrap: wrap;
      flex-direction: column;
      padding-bottom: 7%;
      text-align: left;
      & > .sm {
        margin: auto;
        width: max-content;
        h2 {
          font-size: 45px;
        }
        h1 {
          width: min-content;
          margin-left: 3%;
        }
      }
    }
  }
}
