@import "./variables.scss";

.error {

  div {
    padding-top: 3%;
    left: 50%;

    display: grid;
    text-align: center;
    place-items: center;
    font-family: "Montserrat";

    h2 {
      color: $green;
      margin: 20px 0;
      font-weight: normal;
      letter-spacing: 5px;
      font-size: 108px;
      z-index: 1;
    }
  
    h1 {
      font-size: 64px;
      font-weight: normal;
      color: white;
      z-index: 1;
    }

    &::after {
      content: ":(";
      color: $green;
      font-size: 9*500%; // <-- dynamic so you dont have to set every size for every resolution ROLANDO
      font-weight: bold;
      z-index: 0;
      position: absolute;
      opacity: 0.07;
      pointer-events: none;
      rotate: 135deg; // <-- optional for that mmm factor

      //overflow: none; // <-- fixx THIS ROLANDO
    }
  }
}

@media only screen and (max-width: 1280px) {
  .error {
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 640px) {
  .error {
    h1 {
      font-size: 16px;
    }
    h2 {
      font-size: 14px;
      margin: 20px 0;
    }
  }
}
