@import "./variables.scss";

.main {
  height: 100%;
}

.stage-container {
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  display: grid;
  grid-template-rows: auto 1fr;
  background: $dark-green;
}

.game-info {
  position: absolute;
  pointer-events: none;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 12;
  background: linear-gradient(
    to bottom,
    rgba(155, 202, 60, 0.267),
    rgba(155, 202, 60, 0)
  );
  button {
    pointer-events: visible;
    width: 40%;
    margin: auto;
    max-width: 200px;
  }

  .info {
    display: grid;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      img {
        width: 30px;
      }
      h3 {
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        font-style: italic;
        margin: 12px 0;
        margin-right: 10px;
      }
    }
  }

  .points {
    margin: auto;
    text-align: center;
    h2 {
      text-align: center;
      font-size: 18px;
      text-transform: uppercase;
      margin: auto;
      color: white;
    }
    h3 {
      color: white;
      font-weight: normal;
      font-size: 16px;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: bold;
      color: $green;
    }
  }
}

@media only screen and (max-width: 624px) {
  .game-info {
    button {
      width: 75%;
      font-size: 10px;
    }

    .info {
      div {
        h3 {
          font-size: 12px;
        }
        img {
          width: 20px;
        }
      }
    }

    .points {
      h2 {
        font-size: 12px;
      }
      h3 {
        font-size: 14px;
      }
    }
  }
}
