@import "./variables.scss";

.home {
  height: 100%;
}
.content {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  padding: 100px;
}

.main {
  position: relative;

  h1 {
    font-size: 144px;
    color: $green;
    font-weight: 1000;
    font-family: "Montserrat", sans-serif;
  }

  p {
    color: #686767;
    font-style: italic;
    font-size: 32px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 64px;
  }

  button {
    width: 300px;
    padding: 20px 50px;
  }
}

.footer {
  display: grid;
  gap: 50px;
  grid-template-columns: auto 1fr;
  align-items: center;

  img {
    width: 180px;
  }

  p {
    color: #686767;
  }
}

.animation-container {
  position: absolute;
  height: 80vw;
  width: 40vw;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;

  .globe-container {
    position: absolute;
    left: 40%;
    top: 25%;
    width: 100%;
    height: 50%;

    animation: rotate 20s linear infinite;

    .ball {
      position: absolute;
      background: #9aca3c;
      width: 10%;
      height: 10%;
      border-radius: 50%;
      left: -5%;
      &::before {
        content: "";

        width: 100%;
        height: 100%;
        position: absolute;
        background: $green;
        border-radius: 50%;

        animation: pulse 1s ease-in-out infinite;
      }
    }
  }

  .orbit {
    position: absolute;
    width: 150%;
    height: 100%;
    left: 15%;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}

@media only screen and (max-width: 1224px) {
  .main {
    h1 {
      font-size: 80px;
    }

    p {
      font-size: 16px;
      margin-bottom: 32px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .content {
    padding: 50px;
  }
  .main {
    button {
      width: 200px;
    }
  }

  .footer {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    gap: 8px;

    img {
      width: 100px;
    }

    p {
      font-size: 12px;
    }
  }
}
@media only screen and (max-width: 640px) {
  .animation-container {
    top: 0;
    transform: translate(0, 0);
  }
  .main {
    button {
      width: 150px;
      padding: 14px 20px;
    }
    h1 {
      font-size: 48px;
    }
    p {
      font-size: 14px;
    }
  }
  .footer {
    img {
      width: 100px;
    }

    p {
      font-size: 10px;
    }
  }
}
