@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
@import "./variables.scss";

.map-container {
  height: 100%;
  width: 100vw;
  position: relative;
  z-index: 0;
}

.map {
  height: 100%;
  width: 100vw;
  position: relative;
}

.btn-orange {
  margin-top: 12px;
  padding: 10px 15px;
  font-size: 12px;
  width: 100%;
}

.popup > div:first-child {
  font-family: "Open Sans", sans-serif;
  background: white;

  padding: 20px 10px;
  box-shadow: 0px 8px 30px 0 rgba(0, 0, 0, 0.13);
}

.popup > div:first-child > div {
  width: auto;
}
.popup a {
  top: 10px !important;
  right: 10px !important;
}

.popup h2 {
  font-size: 24px;
  margin-bottom: 8px;
}
.popup p {
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
}

.radio-container {
  margin: 12px 0;
  align-items: center;
}

.radio-container label {
  margin-left: 4px;
  font-size: 14px;
  width: auto;
  font-weight: 700;
}

.radio {
  width: 14px;
  height: 14px;
}

.help-btn {
  display: grid;
  width: 40px;
  font-style: italic;
  height: 40px;
  place-items: center;
  background: white;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  font-size: 12px;
  cursor: pointer;
}

.help {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50%;
  padding: 30px;
  padding-right: 100px;
  z-index: 2;
  background: rgba(67, 93, 67, 0.671);
  color: white;
  border-radius: 20px;
}
.help .close {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  transform: translate(-125%, -80%);
}

.map .error {
  margin: 6px 0;
  color: #fd6579;
}

.correct {
  color: #9aca3c;
  p {
    color: black;
  }
  h3 {
    display: grid;
    place-items: center;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #9aca3c;
    color: white;
    margin: 12px 0;
  }
  h4 {
    font-size: 14px;
  }
}

.incorrect {
  color: #fd6579;
  p {
    color: black;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
  }
}

.counter {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  top: 20px;
  left: 50%;
  font-size: 16px;
  text-transform: uppercase;
  transform: translate(-50%);
  z-index: 4;
  color: white;
  padding: 20px;
  border-radius: 100px;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.678);

  // text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

  span {
    font-size: 32px;
    color: #495f41;
  }
}
