// @import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
@import "./variables.scss";

.map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.marker {
  cursor: pointer;
  background: none;
  border: none;
}
.marker img {
  width: 40px;
  height: 40px;
  user-select: none;
  -webkit-user-drag: none;
}
.btn-orange {
  margin-top: 12px;
  padding: 10px 15px;
  font-size: 12px;
  width: 100%;
}

.popup {
  left: 20px;
}

.popup > div:nth-child(2) {
  box-shadow: 0px 0px 20px 0px black !important;
  border-radius: 20px;
  padding: 20px;
}

.popup a {
  color: white !important;
  text-shadow: 0px 0px 20px black;
  top: 10px !important;
  right: 10px !important;
}

.map .error {
  margin: 6px 0;
  color: $pink;
}

.correct {
  color: $green;
  p {
    color: black;
  }
  h3 {
    display: grid;
    place-items: center;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $green;
    color: white;
    margin: 12px 0;
  }
  h4 {
    font-size: 14px;
  }
}

.incorrect {
  color: $pink;
  p {
    color: black;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
  }
}

.counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  top: 250px;
  left: 50%;
  font-size: 16px;
  text-transform: uppercase;
  transform: translate(-50%);
  z-index: 4;
  color: white;
  padding: 20px;
  border-radius: 100px;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.678);

  // text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

  span {
    margin-left: 12px;
    font-size: 24px;
    min-width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: $green;
    color: white;
  }
}

@media only screen and (max-width: 1024px) {
  .counter {
    top: 200px;
  }
}

@media only screen and (max-width: 624px) {
  .counter {
    top: 140px;
    font-size: 12px;
    width: 75%;
    span {
      font-size: 16px;
      min-width: 30px;
      height: 30px;
    }
  }

  .popup > div:first-child {
    position: relative;
    h2 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
    .radio-container {
      label {
        font-size: 12px;
      }
    }
  }
}
