.popup {
  position: absolute;
  width: 75%;
  min-width: 100px;
  height: 50vh;
  background: white;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 12px 60px 0 rgba(0, 0, 0, 0.116);
}
