@import "./variables.scss";

.questions .btn-container {
  margin-top: 40px;
  width: 50%;
}

.questions {
  min-height: 400px;
  text-align: center;
}

.questions h1 {
  font-size: 72px;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.questions h2 {
  font-size: 24px;
  color: white;
  font-weight: normal;
}

.overlay {
  width: 100%;
  display: grid;
  place-items: center;
  z-index: 6;
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    color: white;
    text-transform: uppercase;
  }
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    color: white;
    text-transform: uppercase;
  }
  .icon {
    width: 200px;
  }
}

@media only screen and (max-width: 1024px) {
  .questions {
    h1 {
      font-size: 48px;
    }
    h2 {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 624px) {
  .questions .btn-container {
    width: 100%;
  }
  .questions {
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 12px;
    }
  }
  .overlay {
    .icon {
      width: 150px;
    }
  }
}
