@import "./variables.scss";

.questions {
  min-height: 1000px;
  text-align: center;
  position: relative;
  margin-top: 150px;

  h1 {
    font-size: 72px;
    color: white;
    font-family: "Montserrat", sans-serif;
  }
}

.question {
  margin: 20px 0;

  h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 40px;
    font-weight: normal;
  }

  span {
    color: $green;
    font-size: 64px;
    font-family: "Montserrat";
    font-weight: bold;
  }

  .spinner svg {
    width: 100px;
    height: 100px;
  }

  .btn-container {
    width: 300px;
  }

  .icon {
    width: 20px;
  }
}

.answer-message {
  position: relative;
  animation-delay: 2s;
  span {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    position: relative;
    opacity: 0;

    animation: animateAnswer 0.4s ease-in-out forwards;
  }
  .correct {
    color: $green;
  }
  .incorrect {
    color: $pink;
  }
}

@keyframes animateAnswer {
  0% {
    bottom: -0.5em;
    opacity: 0;
  }
  50% {
    bottom: 0.5em;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .questions {
    h1 {
      font-size: 48px;
    }
  }

  .question {
    margin: 75px 0;
    height: 100px;

    h2 {
      font-size: 18px;
      margin-bottom: 20px;
    }
    span {
      font-size: 48px;
    }
  }
  .answer-message {
    span {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 624px) {
  .questions {
    margin-top: 140px;
    width: 80%;
    padding: 20px 0;
    h1 {
      font-size: 24px;
    }
  }

  .question {
    h2 {
      font-size: 14px;
    }
    span {
      font-size: 32px;
    }
    .btn-container {
      width: 75%;
    }
  }

  .overlay {
    .icon {
      width: 150px;
    }
  }

  .answer-message {
    span {
      font-size: 16px;
    }
  }
}
