@import "./variables.scss";

.wheel-container {
  text-align: center;
  position: relative;
  margin-top: 150px;
  width: 25%;
}

.wheel-container h2 {
  font-size: 68px;
  font-style: italic;
  margin-bottom: 52px;
}

.wheel {
  display: block;
  width: 100%;
  margin: auto;
  position: relative;
}

.arrow {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -45%);
  z-index: 5;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid rgb(255, 255, 255);
}

.btn-orange {
  display: block;
  margin: auto;
  margin-top: 50px;
  padding: 20px 100px;
}
#spin {
  font: 1.5em/0 sans-serif;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 30%;
  margin: -15%;
  background: #fff;
  color: #fff;
  box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transition: 0.8s;
}

#spin::after {
  content: "";
  position: absolute;
  top: -17px;
  border: 10px solid transparent;
  border-bottom-color: currentColor;
  border-top: none;
}

.spin-result {
  img {
    width: 200px;
  }
}
@media only screen and (max-width: 1720px) {
  .wheel-container {
    width: 30%;
  }
  .wheel-container h2 {
    font-size: 48px;
  }
  .arrow {
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
    border-top: 25px solid white;
  }
}

@media only screen and (max-width: 720px) {
  .wheel-container {
    width: 65%;
  }
  .wheel-container h2 {
    font-size: 36px;
    margin-bottom: 24px;
  }

  .btn-orange {
    margin-top: 30px;
    padding: 15px 30px;
  }
  .spin-result {
    img {
      width: 150px;
    }
  }
}
