.backdrop {
    position: relative;
    overflow: hidden;
    background-color: #EBE1D1;
    border: 15px solid #495F41;
    border-radius: 40px;
    height: 100%;
    width: 100%;
}

.canvas {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 95%;
}