.backdrop {
    position: relative;
    overflow: hidden;
    background-color: black;
    border: 5px solid white;
    height: 30vw;
    width: 65vw;
}


.textObj {
    position: absolute;
    word-wrap: no-wrap;
    -webkit-user-select: none;
}